/.venv
/3SMOTEvariants.py
/94.py
/auto_test_config_108.py
/balance_after_rank.py
/balance_smote.py
/cloud.py
/compare_balance_without_blance.py
/compare_balance_without_blance_smote.py
/compare_balance_without_blance_smote_excel.py
/dataset
/error_analysis_run_1.csv
/error_analysis_run_2.csv
/error_analysis_run_3.csv
/error_analysis_run_4.csv
/error_analysis_run_5.csv
/feature_importance.csv
/feature_importance_balanced.csv
/misclassified_samples.csv
/model_errors.csv
/model_metrics.csv
/new_combain_weak.py
/new_weak_model.py
/probability_distribution.png
/results
/results2
/same_paper_weak_model_max_depth_2.py
/same_paper_weak_model_max_depth_3.py
/same_paper_weak_model_max_depth_5.py
/sampling_curve.png
/sqli
/test.py
/test2_pro.py
/test_delete.py
/test_full_traning.py
/test_full_traning2.py
/training_requests.csv
/training_samples_per_model.csv
/training_samples_used.csv
/train_test_split.xlsx
/trying_all_weak_config_dt.py
/trying_all_weak_config_rf.py
/WeakModel_PaperCorrect_Ranking.xlsx
/Weak_Model_.pdf
/weak_model_1.py
/weak_model_reports
/Weak_Model_Stage_Documentation_N0_10_Formatted.docx
/~$nal result.docx